#Python Basics

✅ Install Python & Set up an IDE (VS Code, PyCharm, Jupyter Notebook, **Google colab**)

✅ Print statements (print())

✅ Variables & Data Types (int, float, str, bool)

✅ Basic Arithmetic Operations (+, -, *, /, %)

✅ Input from users (input())

✅ Comments (# single-line, """ multi-line """)

In [1]:
#Print Statements
text = "Bhavya"
print(text)

Bhavya

In [2]:
#Variables and Data Types(int, float, string, bool)
name = "Bhavya"  #string
age = 26    #integer
height = 5.11   #float
is_student = True   #boolean

print(name, age, height, is_student)

Bhavya 26 5.11 True

In [3]:
#Basic Arithmetic Operations
a = 10
b = 4
print(a+b) #Addition
print(a-b) #substraction
print(a*b) #multiplication
print(a/b) #division    ....Dividend ÷ Divisor = Quotient (+ Remainder, if any)
print(a%b) #(Remainder) modulus

14
6
40
2.5
2

In [14]:
#User interface / Input
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hello:",name,"Your age:", age)

Enter your name: Bhavya
Enter your age: 26
Hello: Bhavya Your age: 26

In [93]:
"""This is a multiple comment"""

'This is a multiple comment'

In [ ]:
#Conditional Statements & Loops
#✅ If-Else conditions (if, elif, else)

#✅ Logical Operators (and, or, not)

#✅ Loops (for, while)

#✅ Loop control statements (break, continue, pass)

In [24]:
#if-Else Conditions

age = float(input("Enter your age: "))

if age >=18:
 print("You can drive a car")
else:
  print("You cannot drive a car")

Enter your age: 18.1
You can drive a car

In [29]:
#Logical Operators (and, or, not)

#and
x = 10
y = 6

if x>5 and y<10:
  print("True")
else:
  print("False")

True

In [30]:
#or
x = 10
y = 6

if x>5 or y<5:
  print("True")
else:
  print("False")

True

In [31]:
#not

are_you_hungry = True

if not are_you_hungry:     # When you are not hungry
  print("You are not hungry")
else:
  print("You are hungry")

You are not hungry

In [49]:
#✅ Loops (for, while)

#"For loop is used when we know how many times we want to repeat a block of code."

for x in range(1,11):
 print(x)

1
2
3
4
5
6
7
8
9
10

In [54]:
#While

x = 1 #start from 1

while x<=20:  # loop run while x is less than or equal 20
  print(x)
  x = x+3   #increment x in eachg iteration

1
4
7
10
13
16
19

In [57]:
##✅ Loop control statements (break, continue, pass)

#break

for a in range(1,100):
  if a == 5:
    break

  print(a)

1
2
3
4

In [59]:
#continue

for a in range(1,20):
  if a == 5:
    continue

  print(a)

1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [60]:
#pass

for a in range(1, 12):
  if a==3:
    pass
  print(a)

1
2
3
4
5
6
7
8
9
10
11

#**Data Structures**

#T..Tuples..........( ).......immutable
#L...List...........[ ]
#S....Sets..........{ }
#D...Dictionaries...{ }

In [61]:
#Tuple ()

#Create a tuple

tuples= (12, 14, 15)
print(tuples)

(12, 14, 15)

In [79]:
#List []   ....A list is a collection of items that are ordered, changeable (mutable), and allow duplicates.

# Create a list

list = [12, 14, 15]
print(list)

[12, 14, 15]

In [73]:
fruits = ["Apple", "Banana", "Kiwi"]
print(fruits)

['Apple', 'Banana', 'Kiwi']

In [80]:
list.append(16)
print(list)

[12, 14, 15, 16]

In [81]:
list.remove(12)
print(list)

[14, 15, 16]

In [82]:
list.pop()
print(list)

[14, 15]

In [83]:
#List slicing

numbers = [1, 3, 5, 7, 8, 9, 13]
print(numbers[1:5])

[3, 5, 7, 8]

In [86]:
#sets......A set is an unordered collection of unique items.

#(set( ), add( ), remove( ), union( ), intersection( ))

fruits = {"Apple", "Banana", "Kiwi"}
print(fruits)

{'Kiwi', 'Apple', 'Banana'}

In [87]:
fruits.add("Pineapple")
fruits.remove("Kiwi")
print(fruits)

{'Pineapple', 'Apple', 'Banana'}

In [88]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}

In [89]:
#Dictionary {}.....A dictionary stores data in key-value pairs.

#Each key is unique, and values can be any data type.

#Create a Dictionary
students = {"Ankit": 25, "Vishal": 28, "Bhavya": 26}
print(students)

{'Ankit': 25, 'Vishal': 28, 'Bhavya': 26}

In [90]:
print(students.get("Vishal"))

28

In [91]:
print(students.keys())

dict_keys(['Ankit', 'Vishal', 'Bhavya'])

In [92]:
print(students.values())

dict_values([25, 28, 26])