<a href="https://colab.research.google.com/github/VishalKumar-GitHub/Python/blob/main/Bhavya_Data_Analytics_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Basics

✅ Install Python & Set up an IDE (VS Code, PyCharm, Jupyter Notebook, **Google colab**)

✅ Print statements (print())

✅ Variables & Data Types (int, float, str, bool)

✅ Basic Arithmetic Operations (+, -, *, /, %)

✅ Input from users (input())

✅ Comments (# single-line, """ multi-line """)

In [ ]:
#Print Statements
text = "Bhavya"
print(text)

Bhavya

In [ ]:
#Variables and Data Types(int, float, string, bool)
name = "Bhavya"  #string
age = 26    #integer
height = 5.11   #float
is_student = True   #boolean

print(name, age, height, is_student)

Bhavya 26 5.11 True

In [ ]:
#Basic Arithmetic Operations
a = 10
b = 4
print(a+b) #Addition
print(a-b) #substraction
print(a*b) #multiplication
print(a/b) #division    ....Dividend ÷ Divisor = Quotient (+ Remainder, if any)
print(a%b) #(Remainder) modulus

14
6
40
2.5
2

In [ ]:
#User interface / Input
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hello:",name,"Your age:", age)

Enter your name: Bhavya
Enter your age: 26
Hello: Bhavya Your age: 26

In [ ]:
"""This is a multiple comment"""

'This is a multiple comment'

In [ ]:
#Conditional Statements and Loops
#✅ If-Else conditions (if, elif, else)

#✅ Logical Operators (and, or, not)

#✅ Loops (for, while)

#✅ Loop control statements (break, continue, pass)

In [ ]:
#if-Else Conditions

age = float(input("Enter your age: "))

if age >=18:
 print("You can drive a car")
else:
  print("You cannot drive a car")

Enter your age: 18.1
You can drive a car

In [ ]:
#Logical Operators (and, or, not)

#and
x = 10
y = 6

if x>5 and y<10:
  print("True")
else:
  print("False")

True

In [ ]:
#or
x = 10
y = 6

if x>5 or y<5:
  print("True")
else:
  print("False")

True

In [ ]:
#not

are_you_hungry = False

if not are_you_hungry:     # When you are not hungry
  print("You are not hungry")
else:
  print("You are hungry")

You are not hungry

In [ ]:
#✅ Loops (for, while)

#"For loop is used when we know how many times we want to repeat a block of code."

for x in range(1,11):
 print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#While

x = 1 #start from 1

while x<=20:  # loop run while x is less than or equal 20
  print(x)
  x = x+4   #increment x in eachg iteration

1
5
9
13
17

In [ ]:
##✅ Loop control statements (break, continue, pass)

#break

for a in range(1,100):
  if a == 5:
    break

  print(a)

1
2
3
4

In [ ]:
#continue

for a in range(1,20):
  if a == 5:
    continue

  print(a)

1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#pass

for a in range(1, 12):
  if a==3:
    pass
  print(a)

1
2
3
4
5
6
7
8
9
10
11

#**Data Structures**

#T..Tuples..........( ).......immutable
#L...List...........[ ]
#S....Sets..........{ }
#D...Dictionaries...{ }

In [ ]:
#Tuple ()

#Create a tuple

tuples= (12, 14, 15, 15)
print(tuples)

(12, 14, 15, 15)

In [ ]:
#concatenate tuples

a = (1, 2, 3)
b = (4, 5, 6)
a+b

(1, 2, 3, 4, 5, 6)

In [ ]:
Name1 = "Vishal"
Name2 = "Rana"
Name1+ " " + Name2

'Vishal Rana'

In [ ]:
#List []   ....A list is a collection of items that are ordered, changeable (mutable), and allow duplicates.

# Create a list

list = [12, 20, 15]
print(list)

[12, 20, 15]

In [ ]:
fruits = ["Apple", "Banana", "Kiwi"]
print(fruits)

['Apple', 'Banana', 'Kiwi']

In [ ]:
list.append(11)
print(list)

[12, 20, 15, 11]

In [ ]:
list.remove(12)
print(list)

[14, 15, 16]

In [ ]:
list.pop()
print(list)

[14, 15]

In [ ]:
#List slicing

numbers = [1, 3, 5, 7, 8, 9, 13]
print(numbers[2:5])

[5, 7, 8]

In [ ]:
#sets......A set is an unordered collection of unique items.

#(set( ), add( ), remove( ), union( ), intersection( ))

fruits = {"Apple", "Banana", "Kiwi"}
print(fruits)

{'Kiwi', 'Banana', 'Apple'}

In [ ]:
fruits.add("Pineapple")
fruits.remove("Kiwi")
print(fruits)

{'Pineapple', 'Banana', 'Apple'}

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}

In [ ]:
#Dictionary {}.....A dictionary stores data in key-value pairs.

#Each key is unique, and values can be any data type.

#Create a Dictionary
students = {"Ankit": 25, "Vishal": 28, "Bhavya": 26}
print(students)

{'Ankit': 25, 'Vishal': 28, 'Bhavya': 26}

In [ ]:
print(students.get("Vishal"))

28

In [ ]:
print(students.keys())

dict_keys(['Ankit', 'Vishal', 'Bhavya'])

In [ ]:
print(students.values())

dict_values([25, 28, 26])

In [ ]:
a = b = c = 10
print(a)

10

##Pandas

Pandas provides two data structures for manipulating time series and numerical data, which are:

`Pandas Series`

`Pandas DataFrame`

These two data structures provide a solid basis for most of the applications you would build in Pandas.

In [37]:
import pandas as pd

In [38]:
from pandas import Series

In [39]:
from pandas import DataFrame

In [ ]:
ser = Series([1, 2, 3, 6])   #A Series is a one-dimensional labeled array in Pandas — kind of like a column in a spreadsheet or a single list of values with labels (index).
print(ser)

0    1
1    2
2    3
3    6
dtype: int64

In [ ]:
dic = {'R': "Red", "P": "Purple", "G": "Green", "Y": "Yellow", "W": "White", "B": "Black"}

In [ ]:
Series1 = Series(dic)
print(Series1)

R       Red
P    Purple
G     Green
Y    Yellow
W     White
B     Black
dtype: object

#Creating Pandas DataFrames

Use funtion **DataFrame()**

**To pass a dictionary of equal length list**

In [35]:
data = {'State':['UP','HR','PB','RJ', 'DL'], 'Symbols':[1, 2, 4, 6, 17], 'Capital':['Lucknow','Chandigarh','Patna','Jaipur', 'Newdelhi']}

In [50]:
df = DataFrame(data)  #A DataFrame is a multi-dimensional table in Pandas — like an Excel sheet or SQL table — with rows and columns
print(df)

  State  Symbols     Capital
0    UP        1     Lucknow
1    HR        2  Chandigarh
2    PB        4       Patna
3    RJ        6      Jaipur
4    DL       17    Newdelhi

###Specifying the sequence of columns

In [41]:
df = pd.DataFrame(data, columns=['State', 'Capital', 'Symbols'] )
print(df)

  State     Capital  Symbols
0    UP     Lucknow        1
1    HR  Chandigarh        2
2    PB       Patna        4
3    RJ      Jaipur        6
4    DL    Newdelhi       17

In [42]:
data = {'State':['UP','HR','PB','RJ', 'DL'], 'Symbols':[1, 2, 4, 6, 17], 'Capital':['Lucknow','Chandigarh','Patna','Jaipur', 'Newdelhi']}
row_labels = ['A', 'B', 'C', 'D', 'E']
df = pd.DataFrame(data, columns=['State', 'Capital', 'Symbols'], index=row_labels)
print(df)

  State     Capital  Symbols
A    UP     Lucknow        1
B    HR  Chandigarh        2
C    PB       Patna        4
D    RJ      Jaipur        6
E    DL    Newdelhi       17

###Retrieving columns from DataFrame

In [43]:
df_capitals = df['Capital']
print(df_capitals)

A       Lucknow
B    Chandigarh
C         Patna
D        Jaipur
E      Newdelhi
Name: Capital, dtype: object

### Changing data in a paticular column

In [44]:
data = {'State':['UP','HR','PB','RJ', 'DL'], 'Symbols':[1, 2, 4, 6, 17], 'Capital':['Lucknow','Chandigarh','Patna','Jaipur', 'Newdelhi']}
row_labels = ['A', 'B', 'C', 'D', 'E']
df = pd.DataFrame(data, columns=['State', 'Capital', 'Symbols', 'GDP'], index=row_labels)
print(df)

  State     Capital  Symbols  GDP
A    UP     Lucknow        1  NaN
B    HR  Chandigarh        2  NaN
C    PB       Patna        4  NaN
D    RJ      Jaipur        6  NaN
E    DL    Newdelhi       17  NaN

In [45]:
##Access GDP column and assign a constant value
df['GDP'] = 88
print(df)

  State     Capital  Symbols  GDP
A    UP     Lucknow        1   88
B    HR  Chandigarh        2   88
C    PB       Patna        4   88
D    RJ      Jaipur        6   88
E    DL    Newdelhi       17   88

In [52]:
#we are passing the list of values instead of some constant value:
df['GDP'] =  [67, 55, 44, 33, 22]
print(df)

  State  Symbols     Capital  GDP
0    UP        1     Lucknow   67
1    HR        2  Chandigarh   55
2    PB        4       Patna   44
3    RJ        6      Jaipur   33
4    DL       17    Newdelhi   22

##Adding a column to DataFrame

In [53]:
df['Area'] = 'ABC'
print(df)

  State  Symbols     Capital  GDP Area
0    UP        1     Lucknow   67  ABC
1    HR        2  Chandigarh   55  ABC
2    PB        4       Patna   44  ABC
3    RJ        6      Jaipur   33  ABC
4    DL       17    Newdelhi   22  ABC

In [54]:
df['Area'] = [252, 253, 254, 255, 256]
print(df)

  State  Symbols     Capital  GDP  Area
0    UP        1     Lucknow   67   252
1    HR        2  Chandigarh   55   253
2    PB        4       Patna   44   254
3    RJ        6      Jaipur   33   255
4    DL       17    Newdelhi   22   256

# Task 1
##S.No          
##Index      
##House names

1              R               Red

2              P              Purple

3
G
Green

4
Y
Yellow

5
W
White

6
B
Black


Task

Create a Python dictionary of the six student houses and the corresponding index.

Create a Pandas Series by passing the dictionary to a Series function.

Allocate the name ‘House’ to the house names in the Series using the ‘Name’attribute.

Display the Pandas Series with the name attribute and dtype.

In [ ]:
import pandas as pd

In [ ]:
#Load the dataset
dataset = pd.read_csv("climate (1).csv")

In [ ]:
dataset.head(15)

      City  Temperature Weather
0     Rome         11.2    Warm
1  Toronto         -2.6    Cold
2    Minsk         -6.5    Cold
3     Doha         25.8     Hot
4      NYC          0.6    Cold
5   Lusaka         26.5     Hot
6   Hobart         16.8    Warm
7   Taipei         22.9     Hot

#Practical Activity: Create a DataFrame in Pandas

**Task**

**Create a DataFrame** containing the states and capitals of Brazil.

**Add a column to the DataFrame** to include the population of each state.

**Retrieve and display** only the data from the population column of the DataFrame.

In [ ]:
Brazil_df = {'states' : [
    "Acre",
    "Alagoas",
    "Amapá",
    "Amazonas",
    "Bahia",
    "Ceará",
    "Espírito Santo",
    "Goiás",
    "Maranhão",
    "Mato Grosso",
    "Mato Grosso do Sul",
    "Minas Gerais",
    "Pará",
    "Paraíba",
    "Paraná",
    "Pernambuco",
    "Piauí",
    "Rio de Janeiro",
    "Rio Grande do Norte",
    "Rio Grande do Sul",
    "Rondônia",
    "Roraima",
    "Santa Catarina",
    "São Paulo",
    "Sergipe",
    "Tocantins",
    "Distrito Federal"], 'capitals' : ["Rio Branco",
    "Maceió",
    "Macapá",
    "Manaus",
    "Salvador",
    "Fortaleza",
    "Vitória",
    "Goiânia",
    "São Luís",
    "Cuiabá",
    "Campo Grande",
    "Belo Horizonte",
    "Belém",
    "João Pessoa",
    "Curitiba",
    "Recife",
    "Teresina",
    "Rio de Janeiro",
    "Natal",
    "Porto Alegre",
    "Porto Velho",
    "Boa Vista",
    "Florianópolis",
    "São Paulo",
    "Aracaju",
    "Palmas",
    "Brasília"]}

In [ ]:
DataFrame1 = pd.DataFrame(Brazil_df)
print(DataFrame1)

                 states        capitals
0                  Acre      Rio Branco
1               Alagoas          Maceió
2                 Amapá          Macapá
3              Amazonas          Manaus
4                 Bahia        Salvador
5                 Ceará       Fortaleza
6        Espírito Santo         Vitória
7                 Goiás         Goiânia
8              Maranhão        São Luís
9           Mato Grosso          Cuiabá
10   Mato Grosso do Sul    Campo Grande
11         Minas Gerais  Belo Horizonte
12                 Pará           Belém
13              Paraíba     João Pessoa
14               Paraná        Curitiba
15           Pernambuco          Recife
16                Piauí        Teresina
17       Rio de Janeiro  Rio de Janeiro
18  Rio Grande do Norte           Natal
19    Rio Grande do Sul    Porto Alegre
20             Rondônia     Porto Velho
21              Roraima       Boa Vista
22       Santa Catarina   Florianópolis
23            São Paulo       São Paulo
24              Sergipe         Aracaju
25            Tocantins          Palmas
26     Distrito Federal        Brasília

In [ ]:
#Add a column to the DataFrame to include the population of each state.
DataFrame1['population'] = 78
print(DataFrame1)

                 states        capitals  population
0                  Acre      Rio Branco          78
1               Alagoas          Maceió          78
2                 Amapá          Macapá          78
3              Amazonas          Manaus          78
4                 Bahia        Salvador          78
5                 Ceará       Fortaleza          78
6        Espírito Santo         Vitória          78
7                 Goiás         Goiânia          78
8              Maranhão        São Luís          78
9           Mato Grosso          Cuiabá          78
10   Mato Grosso do Sul    Campo Grande          78
11         Minas Gerais  Belo Horizonte          78
12                 Pará           Belém          78
13              Paraíba     João Pessoa          78
14               Paraná        Curitiba          78
15           Pernambuco          Recife          78
16                Piauí        Teresina          78
17       Rio de Janeiro  Rio de Janeiro          78
18  Rio Grande do Norte           Natal          78
19    Rio Grande do Sul    Porto Alegre          78
20             Rondônia     Porto Velho          78
21              Roraima       Boa Vista          78
22       Santa Catarina   Florianópolis          78
23            São Paulo       São Paulo          78
24              Sergipe         Aracaju          78
25            Tocantins          Palmas          78
26     Distrito Federal        Brasília          78

#Reindexing

Reindexing is like changing the order of names on a list or adding new names. If a name is missing, it leaves a blank spot or fills it with something nearby.

In [4]:
import numpy as np

# What is NumPy?

NumPy **(Numerical Python)** is a powerful Python library used for numerical computing.
It provides support for large multi-dimensional arrays and matrices, along with a collection of mathematical functions to operate on them efficiently.

## Why is NumPy important?
- It’s fast and optimized for performance
- It's the foundation for many data science and ML libraries (like Pandas, TensorFlow, etc.)
- It makes operations like linear algebra, statistics, and array manipulation much easier

## Key Features:
- ndarray: powerful N-dimensional array object
- Fast element-wise operations
- Broadcasting for math operations
- Useful in data analysis, machine learning, and scientific computing

In [ ]:
# Python List
py_list = [1, 2, 3]
result_list = [x * 2 for x in py_list]
print(result_list)

[2, 4, 6]

In [ ]:

# NumPy Array
import numpy as np
np_arr = np.array([1, 2, 3])
result_array = np_arr * 2
print(result_array)

[2 4 6]

In [8]:
Series1 = pd.Series(np.random.randn(15), index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o'])
print(Series1)

a    0.630363
b    0.331539
c   -0.217460
d    1.971450
e    1.680316
f    0.257373
g   -0.336130
h   -0.006301
i    0.086923
j   -0.288038
k    0.792220
l    1.614963
m   -1.393318
n    0.916622
o    0.703976
dtype: float64

In [10]:
from types import new_class
index = ['a', 'A', 'b', 'B', 'c', 'C', 'd', 'D', 'e', 'E', 'f', 'F', 'g', 'G', 'h', 'H']
new_class = Series1.reindex(index)
new_class

a    0.630363
A         NaN
b    0.331539
B         NaN
c   -0.217460
C         NaN
d    1.971450
D         NaN
e    1.680316
E         NaN
f    0.257373
F         NaN
g   -0.336130
G         NaN
h   -0.006301
H         NaN
dtype: float64

## Handing missing values during reindexing

In [11]:
fillvalue = Series1.reindex(index, fill_value=0)
fillvalue

a    0.630363
A    0.000000
b    0.331539
B    0.000000
c   -0.217460
C    0.000000
d    1.971450
D    0.000000
e    1.680316
E    0.000000
f    0.257373
F    0.000000
g   -0.336130
G    0.000000
h   -0.006301
H    0.000000
dtype: float64

## forwardfill
- Perform similar reindex but with forward fill method specific for null values

In [21]:
a = pd.Series(np.random.randn(10), index=[0,2,4,6,8,10,12,14,16,18])
a

0     0.867119
2     0.325172
4    -1.151315
6     0.224105
8     0.317789
10    1.891621
12   -0.096775
14   -0.899196
16   -0.885732
18   -1.175711
dtype: float64

In [24]:
a1 = a.reindex(range(20))
a1

0     0.867119
1          NaN
2     0.325172
3          NaN
4    -1.151315
5          NaN
6     0.224105
7          NaN
8     0.317789
9          NaN
10    1.891621
11         NaN
12   -0.096775
13         NaN
14   -0.899196
15         NaN
16   -0.885732
17         NaN
18   -1.175711
19         NaN
dtype: float64

In [25]:
forward_fill = a.reindex(range(20), method = 'ffill')
forward_fill

0     0.867119
1     0.867119
2     0.325172
3     0.325172
4    -1.151315
5    -1.151315
6     0.224105
7     0.224105
8     0.317789
9     0.317789
10    1.891621
11    1.891621
12   -0.096775
13   -0.096775
14   -0.899196
15   -0.899196
16   -0.885732
17   -0.885732
18   -1.175711
19   -1.175711
dtype: float64

## Backwardfill

In [26]:
Backward_fill = a.reindex(range(20), method = 'bfill')
Backward_fill

0     0.867119
1     0.325172
2     0.325172
3    -1.151315
4    -1.151315
5     0.224105
6     0.224105
7     0.317789
8     0.317789
9     1.891621
10    1.891621
11   -0.096775
12   -0.096775
13   -0.899196
14   -0.899196
15   -0.885732
16   -0.885732
17   -1.175711
18   -1.175711
19         NaN
dtype: float64

# Deleting entries

- Deleting entries from Pandas Series
- Drop single index.

In [32]:
task1 = Backward_fill.drop(19)
task1

0     0.867119
1     0.325172
2     0.325172
3    -1.151315
4    -1.151315
5     0.224105
6     0.224105
7     0.317789
8     0.317789
9     1.891621
10    1.891621
11   -0.096775
12   -0.096775
13   -0.899196
14   -0.899196
15   -0.885732
16   -0.885732
17   -1.175711
18   -1.175711
dtype: float64

- Drop multiple indexes

In [61]:
task2 = Backward_fill.drop([19, 10, 8, 0])
task2

1     0.325172
2     0.325172
3    -1.151315
4    -1.151315
5     0.224105
6     0.224105
7     0.317789
9     1.891621
11   -0.096775
12   -0.096775
13   -0.899196
14   -0.899196
15   -0.885732
16   -0.885732
17   -1.175711
18   -1.175711
dtype: float64

## Deleting entries from pandas DataFrame

In [55]:
df

  State  Symbols     Capital  GDP  Area
0    UP        1     Lucknow   67   252
1    HR        2  Chandigarh   55   253
2    PB        4       Patna   44   254
3    RJ        6      Jaipur   33   255
4    DL       17    Newdelhi   22   256

In [56]:
task3 = df.drop(3)
task3

  State  Symbols     Capital  GDP  Area
0    UP        1     Lucknow   67   252
1    HR        2  Chandigarh   55   253
2    PB        4       Patna   44   254
4    DL       17    Newdelhi   22   256

### **Removing multiple columns** from DataFrame by passing a sequence  of coulmn index and axis = 1

# **Understanding axis in pandas**

- `axis=0` → refers to **rows** (think vertically)
- `axis=1` → refers to **columns** (think horizontally)

### Example:

# Drop columns
- df.drop(['Symbols', 'Area'], axis=1)     # Removes the columns 'Symbols' and 'Area'

# Drop rows
- df.drop([0, 1], axis=0)     # Removes the first and second rows

In [62]:
task4 = df.drop(['Symbols', 'Area'], axis = 1)
task4

  State     Capital  GDP
0    UP     Lucknow   67
1    HR  Chandigarh   55
2    PB       Patna   44
3    RJ      Jaipur   33
4    DL    Newdelhi   22