<a href="https://colab.research.google.com/github/VishalKumar-GitHub/Python/blob/main/Vishal_Python_Beginner_Level.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 1-2: Python Basics

‚úÖ Print statements (print())

‚úÖ Variables & Data Types (int, float, str, bool)

‚úÖ Basic Arithmetic Operations (+, -, *, /, %)

‚úÖ Input from users (input())

‚úÖ Comments (# single-line, """ multi-line """)

1Ô∏è‚É£ Print Statements (print())

Q1: Write a Python program to print:

`Hello, World!`

In [1]:
text = 'Hello, World!'
print(text)

Hello, World!


Q2: Print your name and favorite hobby in two separate lines.

In [2]:
Text = "Ankit,\n Reading"    #The backslash (\) itself is known as an escape character.
print(Text)

Ankit,
 Reading

**\n** represents a new line (line break).

**\t** represents a tab space.

**\\** represents a literal backslash (\).

2Ô∏è‚É£ Variables & Data Types (`int, float, str, bool`)

Q3: Create and print variables for:

Your name (string)

Your age (integer)

Your height (float)

Whether you love coding (boolean)

In [3]:
name = "Ankit"
age = 25
height = 5.8
love_coding = True

print(name, age, height, love_coding)

Ankit 25 5.8 True

3Ô∏è‚É£ Basic Arithmetic Operations (`+, -, *, /, %`)

Q4: Write a program that calculates:

The sum of 10 and 20

The difference between 50 and 15

The product of 7 and 8

The division of 100 by 5

The remainder when 17 is divided by 3

In [4]:
a = 10 + 20
b = 50 - 15
c = 7  * 8
d = 100 / 5
e = 17 % 5

print(a, b, c, d, e)

30 35 56 20.0 2

4Ô∏è‚É£ Taking User Input (`input()`)

Q5: Ask the user to enter their name and age, then print:

`Hello [name]! You are [age] years old.`

In [5]:
name = input("Enter your name: ")
age = input("Enter your age:")

print(f"Hello: {name}, Your age: {age} year old" )

Enter your name: Ankit
Enter your age:Rana
Hello: Ankit, Your age: Rana year old

Q6: Ask the user to input two numbers and print their sum.

In [6]:
Num1 = int(input("Enter first number: "))
Num2 = int(input("Enter second number: "))

sum = Num1 + Num2

print(sum)

Enter first number: 24
Enter second number: 34
58

Q8: Write a program that calculates the area of a rectangle (**length √ó width**) and add a **multi-line comment** explaining the formula.

In [7]:
length = 4   #"""This is a length of rectangle"""
width = 3    #"""This is a width of rectangle"""

area = 0.5 * 4 * 3    #"""This is a area of rectangle"""

print(area)   #"""This is a print statemanet"""

6.0

In [8]:
"""
This program calculates the area of a rectangle.

Formula:
    Area = Length √ó Width
Where:
    - Length is the longer side of the rectangle.
    - Width is the shorter side of the rectangle.
"""

# Taking user input for length and width
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))

# Calculating the area
area = length * width

# Printing the result
print("The area of the rectangle is:", area)

Enter the length of the rectangle: 44
Enter the width of the rectangle: 43
The area of the rectangle is: 1892.0

Day 3-4: Conditional Statements & Loops

‚úÖ If-Else conditions (if, elif, else)

‚úÖ Logical Operators (and, or, not)

‚úÖ Loops (for, while)

‚úÖ Loop control statements (break, continue, pass)

üîπ Practice: Write a program that prints numbers from 1 to 20 but skips multiples of 3

1Ô∏è‚É£ **If-Else Conditions** (`if, elif, else`)

Q1: Write a program that asks the user to enter a number and checks if it is **positive, negative, or zero**.

In [9]:
number = int(input("Enter a number: "))

if number > 0:
    print("Positive")
elif number == 0:
    print("Zero")
else:
    print("Negative")

Enter a number: -4
Negative

Q2: Write a program that asks for a person's **age** and prints:

"Child" if age is **less than 12**

"Teenager" if age is `between 12 and 18`

"Adult" if age is **above 18**

In [10]:
age = int(input("Enter your age: "))

if age < 12:
  print("Child")
elif age >= 12 and age <= 18:
 print("Teenager")
else :
  print("Adult")

Enter your age: 21
Adult

2Ô∏è‚É£ Logical Operators (`and, or, not`)

Q3: Write a program that checks if a number is **between 10 and 50** using the **and** operator.

In [11]:
# Taking user input
x = int(input("Enter a number: "))

# Checking if the number is between 10 and 50
if x >= 10 and x <= 50:
    print("The number is between 10 and 50.")
else:
    print("The number is NOT between 10 and 50.")

Enter a number: 23
The number is between 10 and 50.

Q4: Write a program that asks the user for a letter and checks if it is a **vowel (a, e, i, o, u)** using the **or** operator.

In [12]:
letter = input("Enter a letter:").lower()

if letter == "a" or letter == "e" or letter == "i" or letter == "o" or letter == "u":
  print("letter is vowel")
else:
  print("letter is not vowel")

Enter a letter:w
letter is not vowel

Q5: Use the **not** operator to check if a number **is not equal to 100**.

In [13]:
number = int(input("Enter a number: "))

if not number == 100:
  print("This is not equal")
else:
  print("This is equal")

Enter a number: 21
This is not equal

3Ô∏è‚É£ Loops (`for, while`)

Q6: Write a program that prints numbers from **1 to 10** using a `for` loop.

In [14]:
for i in range (1, 10):
  print(i)

1
2
3
4
5
6
7
8
9

Q7: Write a program that prints numbers from **1 to 10** using a `while` loop.

In [15]:
i = 1 # Start from 1

while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

Q8: Write a program that asks the user for a number and prints its **multiplication table (1 to 10)** using a `for` loop.

In [16]:
# Taking user input
num = int(input("Enter a number: "))

# Printing the multiplication table using a for loop
print(f"\n Multiplication Table of {num}:")
for i in range(1, 11):  # Loop from 1 to 10
    print(f"{num} √ó {i} = {num * i}")

Enter a number: 3

 Multiplication Table of 3:
3 √ó 1 = 3
3 √ó 2 = 6
3 √ó 3 = 9
3 √ó 4 = 12
3 √ó 5 = 15
3 √ó 6 = 18
3 √ó 7 = 21
3 √ó 8 = 24
3 √ó 9 = 27
3 √ó 10 = 30

4Ô∏è‚É£ Loop Control Statements (`break, continue, pass`)

Q9: Write a program that prints numbers from **1 to 10**, but skips **5** using `continue`.

In [17]:
for i in range (1, 11):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

Q10: Write a program that prints numbers from **1 to 10**, but stops at **7** using `break`.

In [18]:
for i in range (1, 11):
  if i == 7:
    break
  print(i)

1
2
3
4
5
6

Q11: Write a program with a loop that contains the `pass` statement and explain why it is used.

In [19]:
for i in range (1, 11):
  if i == 4:
    pass
  print(i)

1
2
3
4
5
6
7
8
9
10

Day 5-6: Data Structures - Lists & Tuples

‚úÖ Lists ([], append(), remove(), pop())

‚úÖ List slicing & iteration

‚úÖ Tuples (()) - Immutable lists

‚úÖ List comprehension

1Ô∏è‚É£ Lists ([ ], append( ), remove( ), pop( ))

Q1: Create a list of 5 fruits and print the list.

In [20]:
fruits = ["Apple", "Banana", "Guava", "Graps", "Cherry"]
print(fruits)

['Apple', 'Banana', 'Guava', 'Graps', 'Cherry']

Q2: Add **"Mango"** to the list using `append()`, then print the updated list.

In [21]:
fruits.append("Mango")
print(fruits)

['Apple', 'Banana', 'Guava', 'Graps', 'Cherry', 'Mango']

Q3: Remove the second item from the list using `remove()` or `pop()` and print the updated list.

In [22]:
fruits.remove("Guava")
print(fruits)

['Apple', 'Banana', 'Graps', 'Cherry', 'Mango']

In [23]:
fruits.pop()
print(fruits)

['Apple', 'Banana', 'Graps', 'Cherry']

2Ô∏è‚É£ List Slicing & Iteration

Q4: Create a list of 10 numbers and print only the **first 5 numbers** using slicing.

In [24]:
Number = [2, 4, 6, 8, 10, 12, 14, 16, 18, 21]
print(Number[:5])

[2, 4, 6, 8, 10]

Q5: Print only the **last 3 numbers** from the list using slicing.

In [25]:
print(Number[-3:])

[16, 18, 21]

Q6: Use a **for** loop to print each item in a list of colors.

In [26]:
colors = ["Red", "Yellow", "Black", "Blue", "White"]
print(colors)

['Red', 'Yellow', 'Black', 'Blue', 'White']

In [27]:
for color in colors:
  print(color)

Red
Yellow
Black
Blue
White

3Ô∏è‚É£ **Tuples (( ))** - Immutable Lists

Q7: Create a tuple with 3 country names and print it.

In [28]:
country = ("USA", "UK", "Germany")
print(country)

('USA', 'UK', 'Germany')

Q8: Try modifying a value in the tuple and observe the error.

In [ ]:
country[0] = "INDIA"
print(country)

In [ ]:
country.append("INDIA")
print(country)

Q9: Convert a tuple into a list, modify it, and convert it back into a tuple.

In [31]:
list_country = list(country)
print(list_country)

['USA', 'UK', 'Germany']

In [32]:
list_country.append("India")
print(list_country)

['USA', 'UK', 'Germany', 'India']

In [33]:
new_tuple = tuple(list_country)
print(new_tuple)

('USA', 'UK', 'Germany', 'India')

4Ô∏è‚É£ List Comprehension

Q10: Create a list of **squares** of numbers from 1 to 10 using list comprehension.

In [34]:
for x in range(1, 11):
  print(x**2)      #Output = (Printed Line by Line)

1
4
9
16
25
36
49
64
81
100

‚úÖ Each number is printed on a new line.

In [35]:
square = [x**2 for x in range(1, 11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

‚úÖ The output is stored as a list and printed in list format.

Q11: Create a list of even numbers from 1 to 20 using list comprehension.

In [36]:
num = [x for x in range(1, 21) if x % 2 == 0]
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]



Q12: Take a list of names and create a new list containing only names that start with "A" using list comprehension.

In [37]:
names = ["Ankit", "Rohit", "Ajay", "Vijay", "Vikas"]
name_A = [name for name in names if name.startswith("A")]
print(name_A)

['Ankit', 'Ajay']

In [38]:
names = ["Ankit", "Rohit", "Ajay", "Vijay", "Vikas"]
name_A = [name for name in names if name.endswith("s")]
print(name_A)

['Vikas']

In [39]:
names = [
    "Olivia", "James", "Sophia", "Daniel", "Emma", "Benjamin", "Charlotte", "Ethan", "Amelia", "Michael",
    "Mia", "Alexander", "Harper", "William", "Evelyn", "Henry", "Abigail", "Lucas", "Ella", "Mason",
    "Scarlett", "Logan", "Grace", "Jack", "Victoria", "Liam", "Avery", "Samuel", "Madison", "Sebastian",
    "Luna", "Matthew", "Chloe", "David", "Nora", "Elijah", "Hannah", "Gabriel", "Aiden", "Lily",
    "Christopher", "Zoe", "Joseph", "Natalie", "Andrew", "Penelope", "Ryan", "Camila", "Joshua", "Leah",
    "Julian", "Savannah", "Nathan", "Brooklyn", "Dylan", "Stella", "Caleb", "Skylar", "Isaac", "Paisley",
    "Leo", "Eliana", "Hunter", "Aria", "Wyatt", "Aurora", "Jonathan", "Hazel", "Luke", "Violet",
    "Isaiah", "Ellie", "John", "Lucy", "Anthony", "Mila", "Theodore", "Ruby", "Charles", "Alice",
    "Eli", "Sarah", "Landon", "Bella", "Connor", "Claire", "Adrian", "Autumn", "Christian", "Kennedy",
    "Hudson", "Genesis", "Robert", "Jade", "Thomas", "Delilah", "Jordan", "Valentina", "Dominic", "Ariana",
    "Easton", "Caroline", "Jaxon", "Brielle", "Adam", "Everly", "Ian", "Sadie", "Austin", "Madeline",
    "Jace", "Piper", "Nolan", "Nevaeh", "Aaron", "Melanie", "Lincoln", "Rylee", "Jeremiah", "Isla",
    "Ezekiel", "Athena", "Greyson", "Julia", "Jose", "Kinsley", "Nicholas", "Hadley", "Angel", "Emilia",
    "Brayden", "Vivian", "Everett", "Clara", "Miles", "Josephine", "Micah", "Ivy", "Sawyer", "Peyton",
    "Jason", "Adeline", "Roman", "Lyric", "Xavier", "Noelle", "Maxwell", "Cora", "Carlos", "Quinn",
    "Jasper", "Maeve", "Kingston", "Rose", "Kaiden", "Naomi", "Maddox", "Willow", "Diego", "June",
    "Max", "Elise", "Asher", "Sienna", "Mateo", "Allison", "Grayson", "Andrea", "Zachary", "Rachel",
    "Finn", "Eliza", "Weston", "Angela", "Tucker", "Reagan", "Blake", "Lyla", "Tyler", "Faith",
    "Emmett", "Trinity", "Oscar", "Jasmine", "Alex", "Tessa", "Gavin", "Lillian", "Bentley", "Makayla",
    "Calvin", "Brynlee", "Jonah", "Juliette", "Malachi", "Ryleigh", "Ryder", "Gracie", "Hayden", "Margaret",
    "Jude", "Alaina", "Beau", "Lola", "Amari", "Camille", "Jake", "Brianna", "Zane", "Jocelyn"
]

name_H = [name for name in names if name.startswith("H")]
print(name_H)

['Harper', 'Henry', 'Hannah', 'Hunter', 'Hazel', 'Hudson', 'Hadley', 'Hayden']

Day 7-8: Data Structures - Dictionaries & Sets

‚úÖ Dictionaries (`{key: value}`, .`get(), .keys(), .values()`)

‚úÖ Sets (`set(), add(), remove(), union(), intersection()`)

1Ô∏è‚É£ Dictionaries ({key: value}, .get(), .keys(), .values())

Q1: Create a dictionary to store the names and ages of three people. Print the dictionary.

In [40]:
names = {"Ankit": 25, "Rohit": 20, "Vijay": 37}
print(names)

{'Ankit': 25, 'Rohit': 20, 'Vijay': 37}

Q2: Given the dictionary below, print only the keys and then only the values.

In [41]:
print(names.keys())
print(names.values())

dict_keys(['Ankit', 'Rohit', 'Vijay'])
dict_values([25, 20, 37])

Q3: Write a program that asks the user for a country name and prints its capital using the dictionary below. If the country is not found, print `"Country not in the list."`

In [42]:
country_capitals = {
    "France": "Paris",
    "Germany": "Berlin",
    "Italy": "Rome",
    "Spain": "Madrid",}


country = input("Enter a country name: ")
capital = country_capitals.get(country, "Country not in the list.")
print(capital)

Enter a country name: Germany
Berlin

Q4: Use the `.get()` method to retrieve the value of the key `"age" `from the dictionary below. If the key is not found, print `"Key not found"` instead.

In [43]:
names_ages = input("Enter a name: ")
ages = names.get(names_ages, "Key not found")
print(ages)

Enter a name: Ankit
25

Q5: Add a new key `"email"` with the value `"john@example.com"` to the dictionary below and print the updated dictionary.

In [44]:
names["email"] = "ankit@123.com"
print(names)

{'Ankit': 25, 'Rohit': 20, 'Vijay': 37, 'email': 'ankit@123.com'}

2Ô∏è‚É£ Sets (`set(), add(), remove(), union(), intersection()`)

Q6: Create a set with five unique fruit names and print it.

In [45]:
fruits = {"Apple", "Banana", "Guava", "Graps", "Cherry"}
print(fruits)

{'Apple', 'Graps', 'Guava', 'Cherry', 'Banana'}

Q7: Add `"Mango"` to the set below and print the updated set.

In [46]:
fruits.add("Mango")
print(fruits)

{'Apple', 'Graps', 'Mango', 'Guava', 'Cherry', 'Banana'}

Q8: Remove `"Banana"` from the set below and print the updated set.

In [47]:
fruits.remove("Banana")
print(fruits)

{'Apple', 'Graps', 'Mango', 'Guava', 'Cherry'}

Q9: Find the union of the two sets below and print the result.

In [48]:
set1 = {1, 6, 7, 9}
set2 = {2, 10, 6, 9}
Final_union = set1.union(set2)
print(Final_union)

{1, 2, 6, 7, 9, 10}

Q10: Find the intersection of the two sets below and print the result.

In [49]:
Final_intersection = set1.intersection(set2)
print(Final_intersection)

{9, 6}

Day 9-10: Functions & Modules

‚úÖ Defining functions (def function_name():)

‚úÖ Function arguments & return values

‚úÖ Importing & using Python modules (math, random, datetime

‚úÖ Writing your own modules

1Ô∏è‚É£ Defining Functions (`def function_name():`)

Q1: Write a function named `greet()` that prints `"Hello, welcome to Python!"`. Call the function.

In [50]:
def greet():
 print("Hello, welcone to Python")
greet()

Hello, welcone to Python

Q2: Create a function `print_square()` that takes a number as an argument and prints its square.

In [51]:
def print_square():
 num = int(input("Enter a number: "))
 print(num**2)
print_square()

Enter a number: 36
1296

Q3: Define a function `welcome_user() `that asks for the user's name and then prints` "Hello, [name]!"`.

In [52]:
def welcome_user():
  name = input("Enter your name: ")
  print(f"Hello, {name}!")
welcome_user()

Enter your name: Vishal
Hello, Vishal!

2Ô∏è‚É£ Function Arguments & Return Values

Q4: Write a function `add_numbers(a, b)` that takes two numbers and returns their sum.

In [53]:
def add_numbers(a, b):
  sum = a + b
  return sum
add_numbers(44, 44)

88

In [54]:
def add_numbers():
  Num1 = int(input("Enter first number: "))
  Num2 = int(input("Enter second number: "))

  sum = Num1 + Num2
  print(sum)

add_numbers()

Enter first number: 33
Enter second number: 23
56


Q5: Create a function `multiply_numbers(x, y)` that multiplies two numbers and prints the result.

In [55]:
def multiply_numbers(x, y):
  multiply = x*y
  print(multiply)
multiply_numbers(4, 4)

16

Q6: Define a function `is_even(n)` that returns True if a number is even and False otherwise.

In [56]:
def is_even(n):
  if n % 2 == 0:
   return True
  else:
    return False
is_even(9)

False


Q7: Write a function `calculate_area(length, width)` that takes two arguments (length and width) and returns the area of a rectangle.

In [57]:
def calculate_area(length, width):
  area = length * width
  return area
calculate_area(4, 3)

12

3Ô∏è‚É£ Importing & Using Python Modules

Q8: Import the `math` module and use `math.sqrt()` to find the square root of 64.

In [58]:
import math
math.sqrt(64)

8.0


Q9: Use the `random` module to generate and print a random number between 1 and 10.

In [59]:
import random
random.randint(1, 10)

4

Q10: Import the `datetime` module and print the current date and time.

In [60]:
import datetime

now = datetime.datetime.now()
print(now)

2025-04-10 17:43:30.259476

4Ô∏è‚É£ Writing Your Own Modules

Q11: Create a new Python file `(my_module.py`) and define a function `say_hello()` that prints `"Hello from my module!"`. Then, import this module in another Python script and call the function.

In [61]:
def say_hello():
  print("Hello from my module!")
say_hello()

Hello from my module!

Q12: Write a Python module named `math_operations.py` with a function `subtract(a, b)` that returns the difference of two numbers. Import this module and call `subtract(10, 3)`.

First method

In [62]:
def subtract(a, b):
  subtract = a - b
  return subtract
subtract(100, 43)

57

Second Method

In [63]:
%%writefile math_operations.py

def subtract(a, b):
    """Returns the difference between two numbers."""
    return a - b

Writing math_operations.py

In [64]:
# Importing the custom module
import math_operations

# Calling the function from the module
result = math_operations.subtract(100, 43)

# Printing the result
print("Difference:", result)

Difference: 57

Day 11-12: File Handling & Exception Handling

‚úÖ Read & write files (`open(), read(), write(), close()`)

‚úÖ Exception Handling (`try, except, finally`)

1Ô∏è‚É£ **File Handling (Reading & Writing Files)**

Q1: Create a text file named **sample.txt** and write `"Hello, this is a test file!"` into it using Python.

In [65]:
file = open("sample.txt", "w")
file.write("Hello, this is a test file!")
file.close()

Q2: Write a program to read and print the contents of `sample.txt` that you

created in Q1.

In [66]:
file = open("sample.txt", "r")
contents = file.read()
print(contents)
file.close()

Hello, this is a test file!

Q3: Append the line` "This is a new line added to the file."` to `sample.txt` and then display the updated contents.

In [67]:
file = open ("smaple.txt", "w")
file.write("\n This is a new line added to the file.")
file.close()

In [68]:
file = open ("smaple.txt", "r")
contents = file.read()
print(contents)
file.close()

 This is a new line added to the file.

Q4: Write a program that writes **5 user-inputted lines into** a file and then reads & prints them.

In [69]:
with open("user_text.txt", "w") as file:
  for i in range(1, 6):
    line = input(f"Enter line {i}: ")
    file.write(line + ",")
    print(f"Line {i} written to the file.")

with open("user_text.txt", "r") as file:
  contents = file.readlines()
  print(contents)

Enter line 1: My name is Vishal
Line 1 written to the file.
Enter line 2: I am from India
Line 2 written to the file.
Enter line 3: I am living in Berlin city.
Line 3 written to the file.
Enter line 4: Which is located in Germany.
Line 4 written to the file.
Enter line 5: That's enough!
Line 5 written to the file.
["My name is Vishal,I am from India,I am living in Berlin city.,Which is located in Germany.,That's enough!,"]


Q5: Count the number of words in a file called `user_text.txt` and print the result.

In [71]:
number_of_words = 0
with open("user_text.txt", "r") as file:
  contents = file.read()
  words = contents.split()
  number_of_words = len(words)
  print(number_of_words)

17

2Ô∏è‚É£ **Exception Handling (try, except, finally)**

Q6: Write a program that takes a number as input and prints its reciprocal `(1/number`). Handle the case when the user enters `0` to avoid a **division error**.

In [74]:
number = int(input("Enter a number: "))
try:
  reciprocal = 1 / number
  print(reciprocal)
except ZeroDivisionError:
  print("Cannot divide by zero.")

Enter a number: 111
0.009009009009009009

Q7: Write a program that asks for a filename and tries to open it. If the file does not exist, print `"File not found!"` instead of crashing.

In [ ]:
filename = input("Enter a filename: ")
try:
  file = open(filename, "r")
  contents = file.read()
  file.close()
except FileNotFoundError:
  print("File not found error.")

Q8: Create a program that asks the user for a number, converts it to an integer, and prints its square. If the user enters a non-numeric value, display an error message.

In [75]:
number = input("Enter a number: ")
try:
  number = int(number)
  square = number ** 2
  print(square)
except ValueError:
  print("non-numeric value.")

Enter a number: 36
1296

Q9: Use `try-finally` to open a file, write some text, and ensure that the file gets closed properly even if an error occurs.

In [76]:
text = input("Enter a text:")
try:
  file = open("text.txt", "w")
  file.write(text)
finally:
  file.close()
  print("File close Successfully!")

Enter a text:Hello
File close Successfully!


Q10: Create a simple calculator program that asks for two numbers and an operation (+, -, *, /). Handle cases where the user enters invalid numbers or tries to divide by zero.

In [77]:
def calculator():
    try:
        # Taking user input for numbers
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        # Taking user input for operation
        operation = input("Enter operation (+, -, *, /): ")

        # Performing calculation based on user input
        if operation == "+":
            result = num1 + num2
        elif operation == "-":
            result = num1 - num2
        elif operation == "*":
            result = num1 * num2
        elif operation == "/":
            if num2 == 0:
                raise ZeroDivisionError("‚ùå Cannot divide by zero!")
            result = num1 / num2
        else:
            raise ValueError("‚ùå Invalid operation! Please enter +, -, *, or /.")

        # Displaying result
        print(f"\n‚úÖ Result: {num1} {operation} {num2} = {result}")

    except ValueError:
        print("‚ùå Invalid input! Please enter a valid number.")
    except ZeroDivisionError as e:
        print(e)
    except Exception as e:
        print(f"‚ùå An unexpected error occurred: {e}")

# Run the calculator function
calculator()

Enter first number: 34
Enter second number: 32
Enter operation (+, -, *, /): +

‚úÖ Result: 34.0 + 32.0 = 66.0

Day 13: Object-Oriented Programming (OOP) Basics

‚úÖ Classes & Objects

‚úÖ Attributes & Methods

‚úÖ Inheritance & Polymorphism

1Ô∏è‚É£ Classes & Objects

üîπ Q1: Create a class `Person` with attributes `name` and `age`. Then, create an object and print its details.

In [78]:
class Persion:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def display_info(self):
    print(f"Name: {self.name}, Age: {self.age}")

persion = Persion("Ankit", 25)
print(persion.name)
print(persion.age)

Ankit
25

`class Persion:  `

‚úÖ Defines a class named Persion (‚ö†Ô∏è Typo: It should be Person instead of Persion).

‚úÖ A class is a blueprint for creating objects.


  `def __init__(self, name, age):`

‚úÖ This is the constructor method (__init__).


‚úÖ It initializes the object with two attributes: name and age.

‚úÖ self represents the instance of the class (i.e., the object being created).


    `self.name = name`  
    `self.age = age`  

‚úÖ Assigns the provided values (name, age) to the instance attributes self.name and self.age.

‚úÖ Each object of this class will have its own name and age.


 ` def display_info(self):`

`    print(f"Name: {self.name}, Age: {self.age}")`

‚úÖ Instance method display_info() prints the person's name and age.

‚úÖ Uses f-strings for formatted output.


`persion = Persion("Ankit", 25)`

‚úÖ Creates an object of the Persion class.

‚úÖ The constructor (__init__) runs automatically, setting:


`print(persion.name)  # Output: Ankit`

`print(persion.age)   # Output: 25`

‚úÖ Accesses and prints the attributes of the persion object.


üîπ Q2: Define a class `Animal` with an attribute `species`. Create two objects (`dog, cat`) and set their species names. Print them.

In [79]:
class Animal:
  def __init__(self, species):
    self.species = species

  def display_species(self):
    print(f"Species: {self.species}")

dog = Animal("Dog")
cat = Animal("Cat")

print(dog.species)
print(cat.species)

Dog
Cat


üîπ Q3: Write a class `Car` with attributes `brand` and `model`, and a method `display_info()` that prints them.

In [80]:
class car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def display_info(self):
    print(f"Brand: {self.brand}, Model: {self.model}")

Car = car("BMW", 2022)
Car.display_info()

Brand: BMW, Model: 2022

2Ô∏è‚É£ Attributes & Methods

üîπ Q4: Create a class `Rectangle` with attributes `length` and `width`. Add a `method area()` to calculate and return the area.

In [81]:
class Rectangle:
  def __init__(self, length, width):
    self.length = length
    self.width = width
    self.area = length * width

  def display_area(self):
    print(f"Area: {self.area}")

rectangle = Rectangle(4, 3)
rectangle.display_area()

Area: 12


üîπ Q5: Write a class `BankAccount` with attributes `account_holder` and `balance`. Add methods `deposit(amount)` and `withdraw(amount).`

In [82]:
class BankAccount:
  def __init__(self, account_holder, balance, deposit, withdraw ):
    self.account_holder = account_holder
    self.balance = balance
    self.deposit = balance + deposit
    self.withdraw = balance - withdraw

  def display_balance(self):
    print(f"Account Holder: {self.account_holder}, Balance: {self.balance}")
    print(f"Deposit: {self.deposit}, Withdraw: {self.withdraw}")

BankAccount1 = BankAccount("Ankit", 10000, 9000, 600)
BankAccount1.display_balance()

Account Holder: Ankit, Balance: 10000
Deposit: 19000, Withdraw: 9400

üîπ Q6: Create a `Student` class with attributes `name` and `marks`. Add a method `check_pass()` that prints `"Pass"` if marks >= 40, else `"Fail"`.

In [83]:
class Student:
  def __init__(self, name, marks):
    self.name = name
    self.marks = marks
    if marks >= 40:
      self.check_pass = "Pass"
    else:
      self.check_pass = "Fail"


  def display_check_pass(self):
    print(f"Name: {self.name}, Marks: {self.marks}, Check Pass: {self.check_pass}")

Student1 = Student("Ankit", 90)
Student2 = Student("Rohit", 39)
Student1.display_check_pass()
Student2.display_check_pass()

Name: Ankit, Marks: 90, Check Pass: Pass
Name: Rohit, Marks: 39, Check Pass: Fail

In [84]:
class Student:
    def __init__(self, name, marks):  # ‚úÖ Fixed typo in __init__
        self.name = name  # ‚úÖ Initializing name attribute
        self.marks = marks  # ‚úÖ Initializing marks attribute

    def check_pass(self):  # ‚úÖ Method to check pass/fail
        print(f"Name: {self.name}, Marks: {self.marks}")
        if self.marks >= 40:
            print("üéâ Pass")
        else:
            print("‚ùå Fail")

# ‚úÖ Creating objects
student1 = Student("Rohit", 90)
student2 = Student("Ankit", 39)

# ‚úÖ Calling the method
student1.check_pass()
student2.check_pass()  # ‚úÖ Fixed variable name (small 's')

Name: Rohit, Marks: 90
üéâ Pass
Name: Ankit, Marks: 39
‚ùå Fail

3Ô∏è‚É£ **Inheritance**

üîπ Q7: Create a `Vehicle` class with an attribute `brand`. Then, create a `Car` class that inherits from `Vehicle` and adds a new attribute `model`.

In [85]:
class Vehicle:
  def __init__(self, brand):
    self.brand = brand

class Car(Vehicle):
  def __init__(self, brand, model):
    super().__init__(brand)
    self.model = model

car = Car("BMW", 2022)
print(car.brand)
print(car.model)

BMW
2022


üîπ Q8: Write a `Animal` class with a method `make_sound()`. Create a `Dog` class that inherits `Animal` and overrides `make_sound()` to print `"Bark!"`.

In [86]:
class Animal:
  def make_sound(self):
    print("Animal Sound")

class Dog(Animal):
  def make_sound(self):
    print("Bark!")

dog = Dog()
dog.make_sound()

Bark!

üîπ Q9: Define a `Parent` class with a method `show_message()`. Create a `Child` class that inherits from `Parent` and `calls the method`.

In [87]:
# ‚úÖ OOP Example in Hindi-English: ‡§µ‡§ø‡§∞‡§æ‡§∏‡§§ (Inheritance)

# Parent class ‡§¨‡§®‡§æ‡§§‡•á ‡§π‡•à‡§Ç
class Parent:
    def show_message(self):
        print("üë®‚Äçüëß ‡§Ø‡§π message Parent class ‡§∏‡•á ‡§Ü‡§Ø‡§æ ‡§π‡•à‡•§")

# Child class ‡§ú‡•ã Parent class ‡§ï‡•ã inherit ‡§ï‡§∞‡§§‡•Ä ‡§π‡•à
class Child(Parent):
    def call_parent_method(self):
        # Parent class ‡§ï‡§æ method call ‡§ï‡§∞ ‡§∞‡§π‡•á ‡§π‡•à‡§Ç
        self.show_message()

# Child class ‡§ï‡§æ object ‡§¨‡§®‡§æ‡§§‡•á ‡§π‡•à‡§Ç
child = Child()

# Child ‡§ï‡§æ method call ‡§ï‡§∞‡§§‡•á ‡§π‡•à‡§Ç, ‡§ú‡•ã Parent ‡§ï‡§æ method use ‡§ï‡§∞‡§§‡§æ ‡§π‡•à
child.call_parent_method()

üë®‚Äçüëß ‡§Ø‡§π message Parent class ‡§∏‡•á ‡§Ü‡§Ø‡§æ ‡§π‡•à‡•§

üîç ‡§Ü‡§∏‡§æ‡§® explanation:

`class`- Python ‡§Æ‡•á‡§Ç blueprint ‡§π‡•ã‡§§‡§æ ‡§π‡•à ‡§ï‡§ø‡§∏‡•Ä object ‡§ï‡•ã ‡§¨‡§®‡§æ‡§®‡•á ‡§ï‡•á ‡§≤‡§ø‡§è‡•§

`Parent class` ‚Äì ‡§è‡§ï base class ‡§π‡•à ‡§ú‡§ø‡§∏‡§Æ‡•á‡§Ç method ‡§π‡•à show_message()

`Child class` ‚Äì Parent ‡§∏‡•á inherit ‡§ï‡§∞‡§§‡•Ä ‡§π‡•à (‡§Ø‡§æ‡§®‡§ø ‡§â‡§∏‡•á ‡§â‡§∏‡§ï‡•Ä ‡§ö‡•Ä‡§ú‡•á‡§Ç ‡§Æ‡§ø‡§≤‡§§‡•Ä ‡§π‡•à‡§Ç)

`self` ‚Äì current object ‡§ï‡•ã represent ‡§ï‡§∞‡§§‡§æ ‡§π‡•à

`object` ‚Äì class ‡§ï‡§æ ‡§è‡§ï real-world useable version

4Ô∏è‚É£ Polymorphism (Method Overriding & Overloading)

üîπ Q10: Create a `Shape` class with a `method area()`. Then, create `Circle` and `Square classes` that override `area()` with their own formulas.

In [88]:
class Shape:
  def method_area(self):
    print("Shape Area")

class Circle(Shape):
  def method_area(self, radius):
    self.radius = radius
    self.area = 3.14 * radius * radius
    print(f"Circle Area: {self.area}")

class Square(Shape):
  def method_area(self, side):
    self.side = side
    self.area = side * side
    print(f"Square Area: {self.area}")

circle = Circle()
circle.method_area(5)

square = Square()
square.method_area(4)

Circle Area: 78.5
Square Area: 16

üîπ Q11: Define a `MathOperations` class with two methods `add()`. One method should take two numbers, and the other should take three numbers.

In [89]:
class MathOperations:
  def add(self, num1, num2):
    self.num1 = num1
    self.num2 = num2
    self.add = num1 + num2
    print(f"Add: {self.add}")

  def add(self, num1, num2, num3):
    self.num1 = num1
    self.num2 = num2
    self.num3 = num3
    self.add = num1 + num2 + num3
    print(f"Add: {self.add}")

math_operations = MathOperations()
math_operations.add(2, 3, 4)

Add: 9

üîπ Q12: Write a `Bird` class with a `method fly()`. Create `Parrot` and `Penguin` classes that override `fly()` (`Parrot flies, Penguin does not`).

In [90]:
class Bird:
  def method_fly(self):
    print(f"Can Fly or Not")

class Parrot(Bird):
  def method_fly(self, can_fly):
    self.can_fly = can_fly
    if can_fly == True:
      print(f"Parrot can fly")
    else:
      print(f"Parrot can not fly")

class Penguin(Bird):
  def method_fly(self, can_fly):
    self.can_fly = can_fly
    if can_fly == True:
      print(f"Penguin can fly")
    else:
      print(f"Penguin can not fly")

parrot = Parrot()
parrot.method_fly(True)

penguin = Penguin()
penguin.method_fly(False)

Parrot can fly
Penguin can not fly

###Day 14: Working with APIs & Libraries

‚úÖ Requests library (`requests.get(`))

‚úÖ JSON handling (`json.loads()`)

‚úÖ Using APIs like OpenWeather, GitHub API

###Day 15: Mini Project

### Project 1

üè∑Ô∏è Project Name:

**"Shop Name Generator"**

----

üéØ Why I Made It (Project Purpose):

‚úÖ To practice how to take `user input` in Python.

‚úÖ To learn how `to combine strings` and use `f-strings` for formatted output.

‚úÖ To simulate a real-world idea: **Creating a unique shop name based on personal details.**

In [91]:
name = input("What is your name?\n")
village = input("Which village did you grow up?\n")
print(f"My shop name:" + name + " " + village)

What is your name?
Ankit
Which village did you grow up?
Nagla Ptithora Wale
My shop name:Ankit Nagla Ptithora Wale

###Project 2

Welcome to Tip calculator!

What is the total bill? 200$

How much tip would you like to give? 14, 20, or 22? 20

In [92]:
bill = float(input("What is the total bill? "))
tip = float(input("How much percent tip would you like to give? 14, 20, or 22? "))
people = int(input("How many people to split the bill? "))
tip_as_percent = tip / 100
total_tip_amount = bill * tip_as_percent
total_bill = bill + total_tip_amount
bill_per_person = total_bill / people
final_amount = round(bill_per_person, 2)
print(f"Each person should pay: ${final_amount}")

What is the total bill? 222
How much percent tip would you like to give? 14, 20, or 22? 20
How many people to split the bill? 4
Each person should pay: $66.6

`final_amount = round(bill_per_person, 2)`

‡§á‡§∏ ‡§≤‡§æ‡§á‡§® ‡§ï‡§æ ‡§Æ‡§ï‡§∏‡§¶ ‡§π‡•à ‡§ï‡§ø ‡§π‡§∞ ‡§µ‡•ç‡§Ø‡§ï‡•ç‡§§‡§ø ‡§ï‡•ã ‡§ï‡§ø‡§§‡§®‡§æ ‡§™‡•à‡§∏‡§æ ‡§¶‡•á‡§®‡§æ ‡§π‡•à, ‡§â‡§∏ amount ‡§ï‡•ã 2 decimal places (‡§ú‡•à‡§∏‡•á ‚Çπ12.35) ‡§§‡§ï round ‡§ï‡§∞‡§®‡§æ‡•§

### Project 3